Repository sambitdash/PDFIO.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: fonts, encoding, certificates, deps, docs, paper, source, tests, github-actions, readme

Supporting Null
  src/PDPage.jl
Labels: source

Install TagBot as a GitHub Action
  .github/workflows/TagBot.yml
Labels: none

Install TagBot as a GitHub Action (#85)
  .github/workflows/TagBot.yml
Labels: none

Adding finalizer for invalid PDF file input so that the file is closed.
  src/CosDoc.jl
Labels: source

When content stream is compressed using bad flate data, trying to extract as much data as possible and show some results.
  src/Inflate.jl
  test/runtests.jl
Labels: source, tests

Create CITATION.bib
  CITATION.bib
Labels: none

Making the stream indirect length object object stream aware.
  src/CosDoc.jl
  src/CosReader.jl
Labels: source

Update README.md
  README.md
Labels: readme

Adding support for Indirect Object as well.
  src/CosObjectHelpers.jl
Labels: source

Update .travis.yml
  .travis.yml
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Update appveyor.yml
  appveyor.yml
Labels: none

Update Project.toml
  Project.toml
Labels: none

Adding 1.5 to the test builds
  .travis.yml
  appveyor.yml
Labels: none

Fixing #91 properly
  .gitignore
  Project.toml
  src/Inflate.jl
  src/LibCrypto.jl
Labels: source

Update Project.toml
  Project.toml
Labels: none

Update runtests.jl
  test/runtests.jl
Labels: tests

Update TagBot.yml
  .github/workflows/TagBot.yml
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Create Documentation
  .github/workflows/Documentation
Labels: none

Update .travis.yml
  .travis.yml
Labels: none

Rename Documentation to Documentation.yml
  .github/workflows/Documentation.yml
Labels: none

Update keys
  settings/keys
Labels: none

Update Documentation.yml
  .github/workflows/Documentation.yml
Labels: none

Update Project.toml
  docs/Project.toml
Labels: none

Delete keys
  settings/keys
Labels: none

Update Documentation.yml
  .github/workflows/Documentation.yml
Labels: none

build based on 1a434cb
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/assets/arrow.svg
  dev/assets/documenter.css
  dev/assets/documenter.js
  dev/assets/search.js
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/assets/themeswap.js
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
  dev/search_index.js
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on 717f4e4
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Update Documentation.yml
  .github/workflows/Documentation.yml
Labels: none

build based on c5eeaa8
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

build based on c5eeaa8
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Update README.md
  README.md
Labels: readme

build based on 201be61
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Fixing for AbstractTree 0.3.x
  Project.toml
  test/runtests.jl
Labels: tests

.github/labeler.yml:

fonts:
  - "data/fonts/*"
  
encoding:
  - "data/*.txt"
  
certificates:
  - "data/certs/*"
  
deps:
  - "deps/*"
  
docs:
  - "docs/src/*.md"
  
paper:
  - "paper/*"
  
source:
  - "src/*"
  
tests:
  - "test/*"
  
github-actions:
  - ".github/*"
  
readme:
  - "README.md"
