Repository sambitdash/PDFIO.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: fonts, encoding, certificates, deps, docs, paper, source, tests, github-actions, readme

.github/labeler.yml:

fonts:
  - "data/fonts/*"
  
encoding:
  - "data/*.txt"
  
certificates:
  - "data/certs/*"
  
deps:
  - "deps/*"
  
docs:
  - "docs/src/*.md"
  
paper:
  - "paper/*"
  
source:
  - "src/*"
  
tests:
  - "test/*"
  
github-actions:
  - ".github/*"
  
readme:
  - "README.md"

build based on 6462830
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Adding CI to GitHub Actions.
  .github/workflows/Build.yml
  .github/workflows/Documentation.yml
  Project.toml
Labels: none

build based on 2a3da1e
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
  dev/search_index.js
Labels: none

Fixing build for win32 bit
  deps/build.jl
Labels: deps

build based on 33a5737
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Removing W32 check from source code after they are removed from build.
  src/Inflate.jl
  src/LibCrypto.jl
Labels: source

build based on 4106519
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Removing support for 32-bit version OS support.
  .github/workflows/Build.yml
Labels: none

build based on bcaf4cb
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

Removing Travis and AppVeyor.
  .github/workflows/Build.yml
  .travis.yml
  README.md
  appveyor.yml
Labels: readme

build based on 228a513
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
  dev/search_index.js
Labels: none

Update Project.toml
  Project.toml
Labels: none

build based on 3d31927
  dev/LICENSE/index.html
  dev/README/index.html
  dev/arch/index.html
  dev/digsig/index.html
  dev/encrypt/index.html
  dev/index.html
  dev/search/index.html
Labels: none

update to add font support for /Differences containing e.g. /uni0047
  src/PDFonts.jl
Labels: source

fix bug to look for hex digits as well as base10
  src/PDFonts.jl
Labels: source

improve parsing speed
  src/PDPageElement.jl
Labels: source

Another approach to remove the type stability
  src/PDPageElement.jl
Labels: source

Another approach to remove the type stability (#105)
  src/PDPageElement.jl
Labels: source

Bumping the version to v0.1.14
  Project.toml
Labels: none

Building on 1.6, 1.8 and nightly.
  .github/workflows/Build.yml
Labels: none

support different extraction modes
  src/PDFonts.jl
  src/PDPageElement.jl
Labels: source

Fix for #99. Also removed some code redundant now.
  .gitignore
  Project.toml
  src/Inflate.jl
  src/LibCrypto.jl
  src/PDFonts.jl
  src/errors.jl
  test/runtests.jl
Labels: source, tests

Update Build.yml
  .github/workflows/Build.yml
Labels: none

Update Build.yml
  .github/workflows/Build.yml
Labels: none

fix for #97
  src/CosDoc.jl
Labels: source

AGL support and fix for bad CMaps
  src/PDFontTables.jl
  src/PDFonts.jl
  src/Utils.jl
  test/runtests.jl
Labels: source, tests

Set Compat for OpenSSL_jll
  Project.toml
Labels: none

Change to 1.1.10
  Project.toml
Labels: none

Set Compat for OpenSSL_jll (#108)
  Project.toml
Labels: none

Removing unnecessary dependencies
  Project.toml
  test/runtests.jl
Labels: tests

Adding fix for broken test.
  test/runtests.jl
Labels: tests

bump compats
  Project.toml
Labels: none

Fixing for OpenSSL 3.0 support
  Project.toml
  src/CosCrypt.jl
  src/LibCrypto.jl
  src/PDDoc.jl
  src/StdSecHandler.jl
  test/runtests.jl
Labels: source, tests

Making 1.10 the minimum version to build on.
  .github/workflows/Build.yml
Labels: none

Added fix for 1.10.
  src/LibCrypto.jl
Labels: source

Bumping the version to 0.1.15
  Project.toml
Labels: none

Adding the compat list
  Project.toml
Labels: none
